<!DOCTYPE html>
<html>
<head>
    <title>Add Shoe</title>
</head>
<body>
<h1>Add Shoe</h1>

<div>
    <p>
        <strong th:if="${message != null}" th:text="${message}"></strong>
    </p>
</div>

<form action="/save-shoe" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" step="0.01" required><br><br>

    <label for="size">Size:</label><br>
    <input type="number" id="size" name="size" required><br><br>

    <label for="color">Color:</label><br>
    <input type="text" id="color" name="color" required><br><br>

    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" name="quantity" required><br><br>

    <button type="submit">Save</button>
</form>

<a href="/admin-options">Go to Admin Panel</a>
</body>
</html>
