<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Shoe</title>
</head>
<body>
<h1>Delete Shoe</h1>
<div>
    <p><strong th:if="${message != null}" th:text="${message}"></strong></p>
</div>
<form action="/delete-shoe" method="post">
    <label for="id">Enter Shoe ID:</label>
    <input type="number" id="id" name="id" required>
    <button type="submit">Delete Shoe</button>
</form>

<a href="/admin-options">Go to Admin Panel</a>
</body>
</html>
