<!DOCTYPE html>
<html>
<head>
    <title>Shoe List</title>
</head>
<body>
<h1>Shoe List</h1>
<br>
<br>
<h3>Here you can see our available shoes</h3>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shoe : ${shoes}">
        <td th:text="${shoe.name}"></td>
        <td th:text="${shoe.price}"></td>
    </tr>
    </tbody>
</table>

<br>
<a href="/"><button type="button"> Go Back to Homepage</button> </a>
</body>
</html>
